<section >
  <div
    class="container-fluid my-5 d-flex justify-content-center"
    *ngFor="let order of orderData | keyvalue"
  >
    <div class="card card-1" style="width: 60%">
      <div class="card-body">
        <div class="row justify-content-between mb-3">
          <div class="col-auto">
            <h6 class="color-1 mb-0 change-color">
              Order Id : {{ order.key }}
            </h6>
          </div>
        </div>
        <div
          class="row"
          *ngFor="let products of $any(order).value; let i = index"
        >
          <div class="col">
            <div class="card card-2" style="margin-bottom: 5px">
              <div class="card-body">
                <div class="media">
                  <div class="sq align-self-center">
                    <img
                      class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                      src="{{
                        '/assets/images/' +
                          products[0].ImageFolderName +
                          '/img1.png'
                      }}"
                      width="135"
                      height="135"
                    />
                  </div>

                  <!-- <div class="media-body my-auto text-right">
                  <div class="row my-auto flex-column flex-md-row">
                    <div class="col my-auto" style="text-align: left">
                      <small class="mb-0"><SPAN></SPAN> </small>
                    </div>
                    <div class="col-auto my-auto"><small> </small></div>
                    <div class="col my-auto"><h6>Product Name:{{ products[0].ProductName }}</h6></div>
                    <div class="col my-auto"><h6>Qty : &#8377;</h6></div>
                    <div class="col my-auto">
                      <h6 class="mb-0">Total Price: {{ products[0].Price }} &#8377;</h6>
                    </div>
                  </div>
                </div> -->
                </div>
                <hr class="my-3" />
              </div>

              
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <div class="card-header">Product : {{ products[0].ProductName }}</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" >Qty : {{products[0].ProductQuantity}}</li>
                <li class="list-group-item"> Price : {{ products[0].Price }}  &#8377;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="card-footer"
        style="background-color: #ff6600; color: #fff; margin-bottom: -25px"
         >
        <div class="jumbotron-fluid">
          <div class="row justify-content-between">
            <div class="col-sm-auto col-auto my-auto"></div>
            <div class="col-auto my-auto" *ngFor="let bInfo of BillingInfoCost ; let k = index">
                   <div  *ngIf = "bInfo.billingId === order.key ">
                    <h2 class="mb-0 font-weight-bold">Cash On Delivery Pay: {{bInfo.TotalCost}}
                    </h2>

                   </div>
            </div>
            <div class="col-auto my-auto ml-auto">
              <h1 class="display-3">&#8377; </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
