
.ng-touched.ng-valid[required],
.ng-valid.required {
  border-left: 15px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 15px solid #a94442; /* red */
}


section {

  margin-top:  60px;
}


#toast {
  position:absolute;
  top:0;
  right:0;
  color: red;
 }
